<meta charset="UTF-8">
<general_date>18 AUGUST 2020</general_date>
<general_title>New widgets, new emergency mode, new integrations and much more. - beta version in internal preview madonna troia</general_title>

<br/><h2><b>Towards the infinity... <br/>... of social networks and beyond!</b></h2>
<p>
	From now on, you can integrate TikTok, Reddit and Twitter right in your group.
	<br/>We've also fixed some issue involving the GitHub and GitLab integrations.
</p>

<br/><h2><b>What to watch on TV tonight?</b></h2>
<p>
	We're introducing new widgets:
	<br/><b>-</b> News: show all the latest news for the selected country,
	<br/><b>-</b> Tonight on TV: shows the evening TV schedule (only available in Italy for now),
	<br/><b>-</b> Trending Songs: show a list shows a list of the most trending music at that time (powered by <a href='//spotifycharts.com' target='_blank'>Spotify</a>).
	<br/>Besides the new widgets, the <code>widget</code> command is now divided in more convenient to use, pages.
	<br/>In favor of this we've added the possibility to send <code>widget page number</code> to go directly to that page.
</p>

<br/><h2><b>This isn't a football stadium and you aren't funny.</b></h2>
<p>
	Introducing the block to the animated soccer ball; also, we've updated the animated emoji block with the latest emojis added by Telegram (🤔 😆 😌 👋 👎 👏 👌 😭 🙊 😜 😋 😝 😉 😏 😚 😊 😞 😕 😟 😱 🍑 ☺️ 😊 😴 😈 😎 😿 😺 😸 🙀 😹 😽 😼 😾 🎊 👿 😈 🔥 😀 😃 😆 😅 😄 🙂 🤣 🎂 🙃 🍆).
</p>

<br/><h2><b>Attention, danger!</b></h2>
<p>
	This mode will auto activate when a severe issue will occur to our servers and when the normal protections aren't ensured to work. When this mode is enabled:
	<br/><b>-</b> all commands, except <code>reload</code> <b>are disabled</b>,
	<br/><b>-</b> the antiflood and anti slowflood are active <b>everywhere</b> with mute punishment for 5 minutes,
	<br/><b>-</b> the antibot is active with <b>permanent ban punishment</b>,
	<br/><b>-</b> moderators and free users <b>aren't whitelisted</b> by protections.
	<br/>To check if the emergency mode is active, just use the <code>/reload</code> command or check the latest posts on the official channel (where the alerts for this mode are automatic).
	<br/><i>You will almost never see Bottino in this mode, but it's still fair to tell you the procedure 🙃</i>
</p>

<br/><h2><b>Graphics, graphics, what a passion!</b></h2>
<p>
	We've completely redesigned the command menu, with a new style and with more choice for each command.
</p>

<br/><h2><b>Can i change my language, please?</b></h2>
<p>
	We've again redesigned the language menu to make it even easier. No more difficult-to-send codes: starting from now, if you <b><a href='//translations.bottino.dev'>have a custom translation</a></b> when you will open the panel, you will immediately see the name of your translation at first glance and you've to just press to apply it.
</p>

<br/><h2><b>Let's take out the garbage, come on.</b></h2>
<p>
	From now on you can <b>remove deleted accounts from the group</b> via the actions menu.
</p>

<br/><h2><b>I trust someone. <i>(perhaps...)</i></b></h2>
<p>
	Now you can <b>set exceptions in the excluded menu</b>, for more granularity in the blocks.
</p>

<br/><h2><b>I don't like invisible names.</b></h2>
<p>
	In the <code>blocks->obligations</code> menu it's now possible to activate the name obligation. This consists of <b>blocking all users who have a name containing an invisible character</b>.
</p>

<br/><h2><b>I can keep my group perfectly under control.</b></h2>
<p>
	We're introducing the <code>altlist</code> command to see the list of alternate text commands.
</p>

<br/><h2><b>An always updated design!</b></h2>
<p>
	For all group owners, we've rewritten and redesigned the <code>adminselect</code> command and we also fixed some issues.
	<br/><b>Note:</b> the <code>adminselect</code> command will stop working within few months; use the new <code>adminconfig</code> command.
</p>

<br/><h2><b>Hey, I'm the most active member of the group!</b></h2>
<p>
	By using the new <code>messages</code> command (previously <code>statsmex</code>) is now available a new convenient button <b>Show daily messages chart</b> which will show you a chart with the messages written daily in the group.
</p>

<br/><h2><b>A ready staff.</b></h2>
<p>
	There are two new staff bot commands:
	<br/><b>-</b> <code>globalmute</code> and <code>globalunmute</code> to mute and unmute the main groups,
	<br/><b>-</b> <code>stats</code> which will show a lot of statistics for the main groups.
</p>

<br/><h2><b>Don't ban me, I just sent a durov channel post!</b></h2>
<p>
	In addition to the link exceptions released in one of the past updates, Bottino has always had some globally active exceptions.
	<br/>From now on you can activate and deactivate the global exceptions from the new dedicated menu.
</p>