<general_date>14 SEPTEMBER 2020</general_date>
<general_title>Between improvements and news.</general_title>
<general_audio>DA FARE</general_audio>


<div class='visione' data-start="0">
	<h2><b>Too lazy for reading.</b></h2>
	<p>Before starting the update, we inform you that it's possible to listen to this update. Turn up the volume on your device and press the <code>Guided View</code> button to start the experience.</p>
</div>


<div class='visione' data-start="0">
	<h2><b>🆕🆒🤔😎</b></h2>
	<p>Captcha 2.0 includes a totally redesigned style, simple for humans but difficult for bots. It's up to you to discover how it works.</p>
</div>

<div class='visione' data-start="0">
	<h2><b>Who turned out the light?</b></h2>
	<p>All our pages are now presented in dark-mode for a better reading of the contents! 🗞</p>
</div>

<div class='visione' data-start="0">
	<h2><b>Who knows if one day I'll forgive you.</b></h2>
	<p>Starting from today, in the warns menu it's possible to set an automatic reset according to an interval. For example, you can set that every three weeks the warns will be reset for all users.</p>
</div>

<div class='visione' data-start="0">
	<h2><b>A middle way.</b></h2>
	<p>In the past, we've added the possibility to choose to make a personal command work only for one person. Starting from today, you can specify up to 10 usernames or ids to create a group of people who can use it.</p>
</div>

<div class='visione' data-start="0">
	<h2><b>If it wasn't clear yet, I'm the one taking decisions.</b></h2>
	<p>Previously, we introduced the <code>ginfo</code> command to display group information. Starting from today there is also the <code>Edit permissions</code> button to be able to quickly modify the group permissions.</p>
</div>

<div class='visione' data-start="0">
	<h2><b>Today the world goes too fast.</b></h2>
	<p>In most punishments, there is now a <b>Unban</b> or <b>Unmute</b> button for quick actions. On some punishments it may not be available yet.</p>
</div>

<div class='visione' data-start="0">
	<h2><b>Conquering Telegram and beyond.</b></h2>
	<p>Many Telegram groups also have linked other channels or groups. With Bottino, it's now possible to create a single map with all the links. Go to <code>Group->Link->Alternative links</code> to add more links or even create a web page (under domain <code>groups.bottino.dev</code> or <code>mygrouplink.cf</code>) which includes all the links you've added, and you can simply share that link in other groups, chats, or social networks.</p>
</div>

<div class='visione' data-start="0">
	<h2><b>No, you cannot send these media.Ah, can't I?</b></h2>
	<p>Spammers who send photos containing links are increasing more and more! Starting from now, the <code>Dangerous Media Block</code> feature is available for pro groups.</p>
</div>

<div class='visione' data-start="0">
	<h2><b>And that's not all.</b></h2>
	<p>In the last months we've been carrying out various maintenance, some silently, others with preventive announcements on the channel.<br/><br/>Here some news regarding maintenance to commands and integrations:<br/>
		<li>The <code>translate</code> command now uses Google Translate and no longer Yandex, which results in higher translation quality.</li>
		<li>The Instagram integration has been optimized to speed up the notifications of the 5700 accounts currently monitored.</li><br/>
	</p>
</div>