<br/><h2><b>I'll ban you... differently.</b></h2>
<h3>
        Added the ability to create alternative commands, which allow you to set a different name to existing commands.
        <br />To see how it works click <a href="tg://resolve?domain=bottinobot&start=help_addalt" target="_blank" rel="noopener noreferrer">here</a>
</h3>

<br/><h2><b>I forgive all of you.</b></h2>
<h3>
        Added the ability to unban or unmute all users, the option is located in <code>config > group > other options</code>.
</h3>

<br/><h2><b>Increasingly precise management.</b></h2>
<h3>
        We're reintroducing the <code>kickmute</code>, <code>kickwarn</code>, <code>warnmute</code> commands.
        <br/>As guessed by the name, these commands, will punish the user with both actions indicated by the command name.
</h3>

<br/><h2><b>We're introducing the editing of personal commands.</b></h2>
<h3>
        To simplify the editing of the personal commands, we've added the possibility to edit them with a single, specific command: by sending <code>editpersonal</code> you can edit your commands without having to remove and then recreate them.
        <br/>To do this, send <code>editpersonal personalname</code> to edit a specific command or just send <code>editpersonal</code>, which will show you the buttons with all the commands in the group.
</h3>

<br/><h2><b>Personal commands with or without alias?</b></h2>
<h3>
        Added the possibility to choose if a specific personal command can be used only with an alias, without an alias, or with both, you set this during the creation of the command itself.
</h3>

<br/><h2><b>I'll mute you as long as I want.</b></h2>
<h3>
        Added the ability to silence the group in time directly via the command, just send <code>globalmute ime</code>. Example: <code>globalmute 3 hours 4 minutes</code>
</h3>

<br/><h2><b>What if I want to ban you for a minute?</b></h2>
<h3>
        To make it easier to manage every single punishment, we've added to the punishment for normal blocks, the possibility to choose the duration of the punishment.
</h3>

<br/><h2><b>New exceptions to the inline bot block.</b></h2>
<h3>
        Added the ability to set exceptions to the inline block, this consists of adding certain bots which, if used Inline, won't trigger the punishment from the bot.
</h3>

<br/><h2><b>Too many people are joining.</b></h2>
<h3>
        We've changed the name of the multiple join block, it's now called "AntiJoinFlood" (to match with the other protections) and added a new punishment, ie the mute.
</h3>

<br/><h2><b>New obligations for users.</b></h2>
<h3>
        Added the ability to activate the surname, username, and profile photo requirement. In all cases, if mute is set, the user will be able to self-unmute after setting a profile photo, a username, or a surname.
</h3>

<br/><h2><b>New service messages available for deletion.</b></h2>
<h3>
        Added new service messages in the "Service Message Delete" settings option.
</h3>

<br/><h2><b>To each one, his role.</b></h2>
<h3>
        Completely rewritten the management of customized roles, now had a complete, simpler, and more orderly choice of powers.
</h3>

<br/><h2><b>Developers, here's the new menu.</b></h2>
<h3>
        To make the use of APIs more comfortable for developers, we've completely remade the API-key menu.<br/>
        Now you can create more than one key and choose which methods can be used by each one.
</h3>

<br/><h2><b>I don't trust anybody.</b></h2>
<h3>
        In each menu, there is now an "Excluded" button which will allow you to choose which roles are free from the specific block.
</h3>

<br/><h2><b>A perfectly integrated log.</b></h2>
<h3>
        Improved the <code>info</code> command: now, if used on someone, it will show all the actions performed with the bot on that person. To do this, click the <code>view user log</code> button.
</h3>

<br/><h2><b>Increasingly powerful alarm clock.</b></h2>
<h3>
        Added the ability to set any media to alarms.
</h3>

<br/><h2><b>Faster backup, better saving!</b></h2>
<h3>
        Improved the speed of the backup creation.
</h3>

<br/><h2><b>New options for the AntiSpam.</b></h2>
<h3>
        Added the option to trigger the antispam if a user's name contains spam and if an inline keyboard with URL is present in a message.
</h3>

<br/><h2><b>New widgets, always at hand!</b></h2>
<h3>
        We introduce the collaboration with <a href="tg://resolve?domain=statusmc" target="_blank" rel="noopener noreferrer">@StatusMC</a>: now you can also add a widget regarding Minecraft to be able to keep players and many other information under control.
</h3>

<br/><h2><b>New internal protections, for a magnificent uptime.</b></h2>
<h3>
        During the past few weeks, we have received many DDoS attacks from external users. We inform you that we are still working today to improve our protections and have a magnificent uptime in every aspect.
</h3>
